/* generic implementation */

#site-sidebar ul.calls-to-action {
  font-size: 1.45em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#site-sidebar ul.calls-to-action li {
  padding: 0;
  margin-top: 1px;
}

#site-sidebar ul.calls-to-action a {
  display: block;
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #cecece;
}

#site-sidebar ul.calls-to-action a:hover {
  color: #fff;
  border-bottom: 1px solid #aaa;
  border-right: 5px solid #aaa;
  padding-right: 3px;
}

/* theme-specific colours */

body.org_ahs #site-sidebar ul.calls-to-action a {
  background: #4d7f8a;
}
body.org_ahs #site-sidebar ul.calls-to-action a:hover {
  background: #508089;
  border-color: #000;
}

/*
body.org_ahs a, body.org_ahs .breadcrumb a, body.org_ahs .site-menu a, body.org_ahs .pager li a.active, body.org_ahs .staff-contact h2 a:visited, body.org_ahs #site-footer a:visited {color: #007f8a;}
body.org_ahs hr, body.org_ahs h2, body.org_ahs .site-menu li a:hover {border-color: #009aa6;}
body.org_ahs #site-navigation h2 {background-image: url('../images/chevrons-teal.png');}

body.org_art a, body.org_art .breadcrumb a, body.org_art .site-menu a, body.org_art .pager li a.active, body.org_art .staff-contact h2 a:visited, body.org_art #site-footer a:visited {color: #ac6100;}
body.org_art hr, body.org_art h2, body.org_art .site-menu li a:hover {border-color: #e98300;}
body.org_art #site-navigation h2 {background-image: url('../images/chevrons-orange.png');}

body.org_eng a, body.org_eng .breadcrumb a, body.org_eng .site-menu a, body.org_eng .pager li a.active, body.org_eng .staff-contact h2 a:visited, body.org_eng #site-footer a:visited {color: #57068c;}
body.org_eng hr, body.org_eng h2, body.org_eng .site-menu li a:hover {border-color: #57068c;}
body.org_eng #site-navigation h2 {background-image: url('../images/chevrons-purple.png');}

body.org_env a, body.org_env .breadcrumb a, body.org_env .site-menu a, body.org_env .pager li a.active, body.org_env .staff-contact h2 a:visited, body.org_env #site-footer a:visited {color: #747800;}
body.org_env hr, body.org_env h2, body.org_env .site-menu li a:hover {border-color: #b6bf00;}
body.org_env #site-navigation h2 {background-image: url('../images/chevrons-green.png');}

body.org_mat a, body.org_mat .breadcrumb a, body.org_mat .site-menu a, body.org_mat .pager li a.active, body.org_mat .staff-contact h2 a:visited, body.org_mat #site-footer a:visited {color: #d42293;}
body.org_mat hr, body.org_mat h2, body.org_mat .site-menu li a:hover {border-color: #e0249a;}
body.org_mat #site-navigation h2 {background-image: url('../images/chevrons-pink.png');}

body.org_sci a, body.org_sci .breadcrumb a, body.org_sci .site-menu a, body.org_sci .pager li a.active, body.org_sci .staff-contact h2 a:visited, body.org_sci #site-footer a:visited {color: #0073cf;}
body.org_sci hr, body.org_sci h2, body.org_sci .site-menu li a:hover {border-color: #0073cf;}
body.org_sci #site-navigation h2 {background-image: url('../images/chevrons-blue.png');}

body.org_school a, body.org_school .breadcrumb a, body.org_school .site-menu a, body.org_school .pager li a.active, body.org_school .staff-contact h2 a:visited, body.org_school #site-footer a:visited {color: #96172e;}
body.org_school hr, body.org_school h2, body.org_school .site-menu li a:hover {border-color: #96172e;}
body.org_school #site-navigation h2 {background-image: url('../images/chevrons-red.png');}

body.org_cgc a, body.org_cgc .breadcrumb a, body.org_cgc .site-menu a, body.org_cgc .pager li a.active, body.org_cgc .staff-contact h2 a:visited, body.org_cgc #site-footer a:visited {color: #C4262E;}
body.org_cgc hr, body.org_cgc h2, body.org_cgc .site-menu li a:hover {border-color: #000;}
body.org_cgc #site-navigation h2 {background-image: url('../images/chevrons-cgc.png');}

body.org_ren a, body.org_ren .breadcrumb a, body.org_ren .site-menu a, body.org_ren .pager li a.active, body.org_ren .staff-contact h2 a:visited, body.org_ren #site-footer a:visited {color: #00693C;}
body.org_ren hr, body.org_ren h2, body.org_ren .site-menu li a:hover {border-color: #D2C295;}
body.org_ren #site-navigation h2 {background-image: url('../images/chevrons-ren.png');}

body.org_stj a, body.org_stj .breadcrumb a, body.org_stj .site-menu a, body.org_stj .pager li a.active, body.org_stj .staff-contact h2 a:visited, body.org_stj #site-footer a:visited {color: #01573E;}
body.org_stj hr, body.org_stj h2, body.org_stj .site-menu li a:hover {border-color: #C88A11;}
body.org_stj #site-navigation h2 {background-image: url('../images/chevrons-stj.png');}

body.org_stp a, body.org_stp .breadcrumb a, body.org_stp .site-menu a, body.org_stp .pager li a.active, body.org_stp .staff-contact h2 a:visited, body.org_stp #site-footer a:visited {color: #879637;}
body.org_stp hr, body.org_stp h2, body.org_stp .site-menu li a:hover {border-color: #584528;}
body.org_stp #site-navigation h2 {background-image: url('../images/chevrons-stp.png');}
*/

/* allow black override */

#site-sidebar ul.calls-to-action.black a {
  background: #000 !important;
}

#site-sidebar ul.calls-to-action.black a:hover {
  border-color: #aaa !important;
}
